html {
    background: #fff;
}

table {
    border-collapse: collapse;
    background-color: #fff;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

th {
    width: 30px;
    height: 30px;
    border: none;
}

.brown {
    background-color: brown;
}
